<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Acortador de URLs</title>
        <link href="/resources/css/index.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="header" class="Header smoothColor"></div>

        <div class="URLChangerBox" id="demo">
            <h1 class="title smoothColor">Acortador de URLs</h1>
            <div>
                <h2 class="subtitle">Ingrese su URL larga</h2>
                <form name="url">
                    <textarea id="longURLInput" rows="1" placeholder="http://ejemplolargo.com"></textarea>
                </form>
            </div>
            <div class="BTNalign">
                <button class="AcortBTN smoothColor" id="acortBTN">Acortar URL</button>
            </div>
        </div>
        <div id="changes""></div>

        <dialog id="defaultStatsModal">
            <div class="btnsDiv">
                <div class="canva">
                    <canvas id="Grafica" width="1" height="1"></canvas>
                </div>
                <div class="canva">
                    <canvas id="GraficaC" width="1" height="1"></canvas>
                </div>
                <div id="extraData">
                    <p id="totalAcces">Total de accesos: </p>
                    <p id="creationDate">Fecha de creacion: </p>
                </div>
                <button class="miniBTN smoothColor2" onclick="DONTshowStatsModal()">Cerrar</button>
            </div>
        </dialog>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/resources/js/script.js"></script>
    </body>
</html>